:root {
  --cor-primaria: #ca1a37;
  --cor-secundaria: #8f0f26;
  --cor-fundo: #ffffff;
  --cor-fundo-refs: #f7f3f1;
  --cor-texto: #241615;
  --cor-texto-dim: #5c4c4a;
  --cor-titulo: #ca1a37;
  --cor-destaque: #1f8a70;
  --cor-destaque-claro: #2fb694;
  --cor-branco: #fdf3ec;
  --cor-branco-dim: rgba(253, 243, 236, 0.75);
  --cor-borda: #e4dcd8;

  --font-display: "Cinzel", serif;
  --font-body: "Lato", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;

  --max-width: 1100px;
}
